#root {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.loading-container {
  height: 100%;
}

.error-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dcdcdc;
}

.error-block {
  width: 80%;
  background: #8c8c8c;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 12px;
}

.season-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

i {
  position: absolute;
  animation: rote 2s infinite;
}
.icon-top {
  top: 100px;
  left: 100px;
}

.icon-bottom {
  bottom: 100px;
  right: 100px;
}

.sun {
  color: red;
}

.snowflake {
  color: snow;
}

.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}

@keyframes rote {
  0% {
    transform: rotate(5deg);
  }
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(40deg);
  }
  20% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(80deg);
  }
  35% {
    transform: rotate(100deg);
  }
  40% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(140deg);
  }
  50% {
    transform: rotate(160deg);
  }
  55% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(200deg);
  }
  65% {
    transform: rotate(220deg);
  }
  70% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(260deg);
  }
  80% {
    transform: rotate(280deg);
  }
  85% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(320deg);
  }
  95% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
